* { 
    margin:0;
    padding: 0;
    font-family: AvenirNext-Medium,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

.menuContainer{
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; */
    height: 60px;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
}

.navbar-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #e5e5e5;
    opacity: 1;
    z-index: 0;
    position: fixed;
} 

.navbar-left {
    padding-left: 25px;
    align-items: center;
    position: fixed;
}

.navbar-left .fa-bars {
    font-size: 24px;
    padding-top: 5px;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    color: #000000;
    cursor: pointer;
}

.navbar-left .btn{
    padding: 0;
    cursor: pointer;
}

.navbar-left .navbar-toggler-icon{
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: var(--bs-navbar-toggler-icon-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-color: #000000;
    cursor: pointer;
}

.navbar-left  .menu-title{
    position: absolute;
    display: block;
    font-weight: 700;
    font-size: 13px;
    padding: 9px 33px;
    top: 2px;
    color: #000000;
} 

.navbar-center{
    text-align: center;
    width: 100%;
}

.navbar-center a{
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin: 0px auto;
    text-decoration: none !important;
}

.navbar-center img{
    width: 164px;
    height: 35px;
    /* align-items: center; */
}

.navbar-right{
    padding: 16px 20px 0px 0px;
    position: absolute;
    right: 0;
    top: 0;
}

.navbar-right .about{
    text-decoration: none !important;
    cursor: pointer;
}

.navbar-right .about-us{
    font-size: 13px;
    font-weight: 600;
    color: #000000;
    margin-right: 90px;
}

.navbar-right .search-icon{
    cursor: pointer;
    font-size: 25px;
    position: absolute;
    right: 40px;
    color: #000000;
}

/* css for search bar collapse*/
.navbar-right .collapse{
    position: fixed;
    width: 100%;
    height: 72px;
    background-color: #eeeeee !important;
    z-index: 1029;
    overflow: hidden;
    top: 0;
    left: 0;
    margin-top: 60px !important;
}

.navbar-right .collapsing{
    position: fixed;
    width: 100%;
    transition: height 0.6s ease-in;
    top: 60;
    left: 0;
    background-color: #eeeeee !important;
    opacity: 0;
}

.navbar-right .collapse .search-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
}

.navbar-right .collapse .searchInput-span{
    display: block;
    padding-right: 10px;
}

.navbar-right .collapse .search-input{
    width: 100%;
    padding-left: 20px;
    background: #eeeeee;
    border: none;
    font-size: 20px !important;

}

.navbar-right .collapse .search-form .search-btn{
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: .05em;
    border: none;
    outline: 0;
    background: #eeeeee;
    color: #000000;
    margin-top: 5px;
    padding: 0px 40px 0px 0px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-right .collapse .search-form .fa-greater-than{
    display: block;
    padding: 0px 0px 3px 3px;
}


.header-wrapper .sidebar-container{
    position: fixed !important;
    top: 60px;
    left: 0px;
    height: 100%;
    overflow: hidden;
}

.header-wrapper .sidebar-container a{
    cursor: pointer;
    text-decoration: none;
}

.header-wrapper .sidebar-container li{
    list-style: none;
}

.header-wrapper{
    align-items: stretch;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #ffffff;

}

#sidebar {
    max-width: 320px;
    min-width: 320px;
    transition: all 0.35s ease-in-out;
    z-index: 1111;
    overflow: hidden;
}

/* Sidebar collapse */
#sidebar .collapsed {
    margin-left: -320px;
}

.sidebar-container{
    overflow: hidden;
    background-color: #ffffff;
}

.sidebar-container .sidebar-menu-title{
    max-height: 65px;
    min-height: 65px;
    height: 65px;
    border-top: #b2b2b2 1px solid;
    transition: background .5s linear;
}

.sidebar-container .sidebar-link-title{
    display: block;
    padding: 25px 0 25px 35px;
    color: #000000;
    
    font-size: 12px;
    font-weight: 700;
}

.sidebar-container .sidebar-link-text{
    padding-left: 10px;
}

.sidebar-container .sidebar-link-title:hover{
    background-color: #eeeeee;
}

.sidebar-container .sidebar-nav{
    margin: 0;
    padding: 0;
}

/* .sidebar-container .sidebar-nav .sidebar-dropdown:hover{
    background-color: #eeeeee;
} */

/* .sidebar-container .sidebar-nav .sidebar-dropdown .sidebar-item{
    color: #000000;
    cursor: pointer;
    font-size: 12px;
    font-weight: 400;
    display: list-item;
    text-align: -webkit-match-parent;
} */

.sidebar-container .sidebar-nav .sidebar-dropdown .sidebar-item .sidebar-link{
    display: block;
    outline: 0;
    padding-top: 10px;
    padding-bottom: 11px;
    padding-left: 57px;
    color: #000000;
    cursor: pointer;
    font-size: 12px;
    font-weight: 400;
    display: list-item;
    text-align: -webkit-match-parent;
}

.sidebar-container .sidebar-nav .sidebar-dropdown .sidebar-item .sidebar-link:hover{
    background-color: #eeeeee;
}
