* { 
    margin:0;
    padding: 0;
    font-family: AvenirNext-Medium,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

ul, li{
    margin:0;
    padding: 0;
    list-style: none;
}

.header-container .menu-container .navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #e5e5e5;
}

.btn-menu{
    cursor: pointer;
    border: none;
    padding: 6px 20px;
}

.fa-bars{
    font-size: 24px;
    padding-top: 5px;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    color: #000000;
    cursor: pointer;
}

.menu-title{
    font-size: 13px;
    font-weight: 700;
    color: #000000;
}

.logo-link{
    width: 100%;
    height: 100%;
}

.navbar-center img{
    width: 164px;
    height: 35px;
}

.navbar-right{
    padding: 0px 25px 0px 0px;
}

.menu-link{
    display: inline-block;
    padding-right: 40px;
    text-decoration: none;
    width: 100%;
}

.btn-search{
    padding: 0;
    margin: 0;
}

.search-icon{
    font-size: 25px;
    color: #000000;
}

.search-form{
    display: grid;
    grid-template-areas: "searchInput-span search-btn";
    grid-template-columns: 20fr 1fr;
    align-items: center;
    background-color: #eeeeee;
    height: 72px;
}

.searchInput-span{
    display: block;
    width: 100%;
    padding-left: 10px;
    padding: 9px 22px 9px 35px;
}

.search-input{
    display: block;
    width: 100%;
    height: 53px;
    border: none;
    text-decoration: none;
    background-color: transparent;
    font-size: 22px;
    color: #eeeeee
}

.search-btn{
    border: none;
    font-size: 13px;
    font-weight: 700;
    padding-right: 25px;
    letter-spacing: .05em;
}

.collapse{
    display: hidden;
}

.collapsing{
    transition: height 0.35s ease-in;
}
